
.cl_address{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:10px 20px 10px 20px;
  box-shadow: 0 0 3px rgba(140, 138, 138, 0.6);
  width: 90%;
  margin: 15px auto;
}

.call-center {
  background: #000000;
  height: 10px;
  text-align: center;
}

.call-center h3{
  background: #000000;
  color: #ffffff;
  width: 100%;
  border-radius:5%;
  font-size: 12px;
  font-weight: bolder
}

.cl_wrapper{
  margin: 15px auto;
  box-shadow: 0 0 3px rgba(140, 138, 138, 0.6);
}

.cl_header{
  width: 90%;
  margin: 15px auto;
  /* color:  rgb(48, 48, 158); */
  text-align: center;
  padding: 5px 0px 5px 0px;
  
}

.cl_name{
  display: flex;
  flex-direction: row;
  justify-content: space-between
}



.cl_logo{
  width: 90%;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 10px;
  text-decoration-line: underline

}

.oh_header img{
  position: relative;
  margin-top: -6rem;
}

.cl_details_wraper{
  width: 90%;
    margin: 15px auto;
    padding: 10px 20px 20px 10px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(140, 138, 138, 0.6);
    /* color:  rgb(48, 48, 158); */
}



.cl_wrapper span{
  border: 0;
  outline: 0;
  border-bottom: 1px solid rgba(140, 138, 138, 0.6);
  background: transparent;
  font-size: 16px;

}


.oh_table{
    width: 90%;
    margin: 15px auto;
    padding: 10px 20px 10px 10px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(140, 138, 138, 0.6);
    
}


.cl_table table{
  width: 90%;
  margin: 10px 10px 10px 10px;
  border: 1px solid rgb(9, 9, 83);
  border-collapse: collapse;
  margin-left: 10%;
}

.cl_table1 table{
  width: 95%;
  margin: 20px 10px 10px 40px;
  border: 1px solid rgb(9, 9, 83);
  border-collapse: collapse;
}

.oh_table th, td{
  /* width: 90%; */
  border: 1px solid rgb(9, 9, 83);
  border-collapse: collapse;
  padding: 5px;  
  /* color:  rgb(48, 48, 158); */
  text-align: center
}

.oh_office{
  margin-left: 4%;
}



@media only screen and (max-width:400px){
  .cl_wrapper{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
  }
}

@media only screen and (max-width:400px){
  .cl_header{
    width:90%;
    display: flex;
    flex-direction: column;
    
  }
}

@media only screen and (max-width:400px){
  .cl_logo{
    width:90%;
    display: flex;
    flex-direction: column;
    margin-left: -1rem;
    
  }
}

@media only screen and (max-width:400px){
  .cl_logo img{
   margin-left: -5rem;
    
  }
}

@media only screen and (max-width:400px){
  .cl_details_wraper{
    width:90%;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width:400px){
  .cl_details{
    width:90%;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width:400px){
  .cl_table tr{
    width:100%;
    display: flex;
    flex-direction: column;
  }
}