.lc_header{
  width: 90%;
  margin: 15px auto;
  text-align: center;
  
}

.lc_logo{
  width: 100%;
  display: flex;
  padding: 0px 10px 0px 10px;
  /* margin-left: 45%; */
  justify-content: center
}

.lc_logo img{
  width: 5%;
  height: 70px;
}

.lc_details{
  width: 90%;
    margin: 15px auto;
    padding: 10px 20px 20px 10px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(140, 138, 138, 0.6);
}

.lc_details span{
  border: 0;
  outline: 0;
  border-bottom: 1px solid rgba(140, 138, 138, 0.6);
  background: transparent;
  font-size: 16px;
  padding: 4px;
}


.lc_table{
    width: 90%;
    margin: 15px auto;
    padding: 10px 20px 20px 10px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(140, 138, 138, 0.6);
    
}


.lc_table table{
  margin: 10px 10px 10px 10px;
  border: 1px solid gray;
  border-collapse: collapse;
}

.lc_table th, td{
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 5px;  
  text-align: center
}

.lc_doctor{
  margin-left: 40px;
  padding: 10px 20px 20px 10px;
}

.lc_doctor span{
  border: 0;
  outline: 0;
  border-bottom: 1px solid rgba(140, 138, 138, 0.6);
  background: transparent;
  font-size: 16px;
  padding: 4px;
}

.lc_signature{
  display: flex;
  justify-content: space-around;
}

.lc_signature span{
  border: 0;
  outline: 0;
  border-bottom: 1px solid rgba(140, 138, 138, 0.6);
  background: transparent;
  font-size: 16px;
  padding: 4px;
}

@media only screen and (max-width:400px){
  .lc_signature{
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
  }
}

@media only screen and (max-width:400px){
  .lc_table  th,  tr{
    width:90%;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
  border-collapse: collapse;
  padding: 5px;  
  text-align: center
  }
}
